.ant-btn.button {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0px;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.ant-btn.button > svg {
  margin-right: 0.75rem;
}

/* primary */

.ant-btn.button--primary {
  color: var(--white-full);
  background-color: var(--primary-full);
}

.ant-btn.button--primary:hover {
  color: var(--white-full);
  background-color: var(--primary-accessible-full);
}

.ant-btn.button-primary-loading {
  background-color: var(--primary-mid);
}

.ant-btn.button-primary-loading > .ant-btn-loading-icon {
  margin-right: 0.75rem;
}

.ant-btn.ant-btn[disabled].button-primary-disabled,
.ant-btn.ant-btn[disabled].floating-action-disabled,
.ant-btn.ant-btn[disabled].floating-action-extended-disabled {
  color: var(--white-full);
  background: var(--black-disabled) !important;
  border: none;
  cursor: not-allowed;
}

.ant-btn.ant-btn[disabled].button-primary-disabled > svg > path,
.ant-btn.ant-btn[disabled].floating-action-disabled > svg > path,
.ant-btn.ant-btn[disabled].floating-action-extended-disabled > svg > path {
  stroke: var(--black-disabled);
}

.ant-btn.primary-group-left {
  border-radius: 0.25rem 0px 0px 0.25rem;
}

.ant-btn.primary-group-middle {
  border-radius: 0px;
  box-shadow: inset 0.063rem 0px 0px rgba(18, 18, 18, 0.8),
    inset -0.063rem 0px 0px rgba(18, 18, 18, 0.8);
}

.ant-btn.primary-group-right {
  border-radius: 0px 0.25rem 0.25rem 0px;
}

/* secondary */

.ant-btn.button--secondary {
  color: var(--primary-full);
  background-color: var(--white-full);
  border: 0.063rem solid var(--primary-mid);
}

.ant-btn.button--secondary:hover {
  color: var(--primary-full);
  background-color: var(--primary-hover);
  border: 0.063rem solid var(--primary-mid);
}

.ant-btn.button-secondary-loading {
  color: var(--primary-mid);
}

.ant-btn.button-secondary-loading > .ant-btn-loading-icon {
  margin-right: 0.75rem;
}

.ant-btn.ant-btn[disabled].button-secondary-disabled {
  background-color: var(--white-full);
  border: 0.063rem solid var(--black-hover);
  color: var(--black-disabled);
  cursor: not-allowed;
}

.ant-btn.ant-btn[disabled].button-secondary-disabled > svg > path {
  stroke: var(--black-disabled);
}

.ant-btn.secondary-group-left {
  border: 0.063rem solid var(--primary-outline);
  box-sizing: border-box;
  border-radius: 0.25rem 0px 0px 0.25rem;
}

.ant-btn.secondary-group-middle {
  border-top: 0.063rem solid var(--primary-outline);
  border-bottom: 0.063rem solid var(--primary-outline);
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.ant-btn.secondary-group-middle:hover {
  border-left: none;
  border-right: none;
}

.ant-btn.secondary-group-right {
  border: 0.063rem solid var(--primary-outline);
  box-sizing: border-box;
  border-radius: 0px 0.25rem 0.25rem 0px;
}

/* icon group */

.ant-btn.icon-group-left {
  width: fit-content;
  border: 1px solid var(--black-outline);
  box-sizing: border-box;
  border-radius: 0.25rem 0px 0px 0.25rem;
}

.ant-btn.icon-group-left > svg,
.ant-btn.icon-group-middle > svg,
.ant-btn.icon-group-right > svg {
  margin: 0px;
}

.ant-btn.icon-group-middle {
  width: fit-content;
  border-radius: 0px;
  border-top: 0.063rem solid var(--black-outline);
  border-bottom: 0.063rem solid var(--black-outline);
  border-left: none;
  border-right: none;
}

.ant-btn.icon-group-middle:hover {
  border-left: none;
  border-right: none;
}

.ant-btn.icon-group-right {
  width: fit-content;
  border: 0.063rem solid var(--black-outline);
  box-sizing: border-box;
  border-radius: 0px 0.25rem 0.25rem 0px;
}

/* floating action button */

.ant-btn.floating-action {
  color: var(--white-full);
  background-color: var(--primary-full);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn.floating-action:hover {
  background-color: var(--primary-full);
}

.ant-btn.floating-action > svg {
  margin: 0px;
}

.ant-btn.floating-action > .ant-btn-loading-icon {
  margin: 0px;
}

/* floating action button extended */

.ant-btn.floating-action-extended {
  color: var(--white-full);
  background-color: var(--primary-full);
  border-radius: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn.floating-action-extended:hover {
  background-color: var(--primary-full);
  color: var(--white-full);
}

/* text */

.ant-btn.button-text {
  border: none;
}

/* icon */

.ant-btn.ant-btn-icon-only.button-icon {
  width: fit-content;
  background-color: var(--white-full);
  padding: 0.563rem;
  border-radius: 50%;
}

.ant-btn.ant-btn-icon-only.button-icon > svg {
  margin: 0px;
}

.ant-btn.ant-btn-icon-only.button-icon > .ant-btn-loading-icon {
  margin: 0px;
  padding: 0.188rem 0.5rem;
}

.ant-btn.ant-btn-icon-only.button-icon:hover {
  background-color: var(--black-hover);
}

/* size */

.ant-btn.floating-action--small {
  width: 2.5rem;
  height: 2.5rem;
}

.ant-btn.floating-action--medium {
  width: 3rem;
  height: 3rem;
}

.ant-btn.floating-action--large {
  width: 3.5rem;
  height: 3.5rem;
}

.ant-btn.floating-action-extended--small {
  padding: 0.5rem 0.75rem;
}

.ant-btn.floating-action-extended--medium {
  padding: 0.75rem 1rem;
}

.ant-btn.floating-action-extended--large {
  padding: 1rem 1.25rem;
}

.ant-btn.button--small {
  padding: 0.25rem 1rem;
}
.ant-btn.button--medium {
  padding: 0.5rem 1rem;
}
.ant-btn.button--large {
  padding: 0.75rem 1rem;
}
